<div class="row top">
  <div class="col-sm-6 col-md-3 col-md-offset-3">
    <div class="thumbnail">
      <img class="padding-img" src="assets/img/estabelecimento.jpg" alt="...">
      <div class="caption center">
        <h3>Estabelecimento</h3>
        <p>
          <a routerLink="/estabelecimentos" class="btn btn-primary" role="button">Visualizar</a> 
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img class="padding-img" src="assets/img/importar.jpg" alt="...">
      <div class="caption center">
        <h3>Importar Dados</h3>
        <p>
          <a routerLink="/importar-dados" class="btn btn-primary" role="button">Visualizar</a> 
        </p>
      </div>
    </div>
  </div>
</div> 